<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ananops.provider.mapper.ImcItemInvoiceDescMapper" >
  <resultMap id="BaseResultMap" type="com.ananops.provider.model.domain.ImcItemInvoiceDevice" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="invoice_id" property="invoiceId" jdbcType="BIGINT" />
    <result column="item_content" property="itemContent" jdbcType="VARCHAR" />
    <result column="item_state" property="itemState" jdbcType="CHAR" />
    <result column="item_result" property="itemResult" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>