<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ananops.provider.mapper.ImcInspectionItemMapper" >
  <resultMap id="BaseResultMap" type="com.ananops.provider.model.domain.ImcInspectionItem" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_operator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="last_operator_id" jdbcType="BIGINT" property="lastOperatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="inspection_task_id" jdbcType="BIGINT" property="inspectionTaskId" />
    <result column="scheduled_start_time" jdbcType="TIMESTAMP" property="scheduledStartTime" />
    <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime" />
    <result column="actual_finish_time" jdbcType="TIMESTAMP" property="actualFinishTime" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="frequency" jdbcType="INTEGER" property="frequency" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="item_latitude" jdbcType="DECIMAL" property="itemLatitude" />
    <result column="item_longitude" jdbcType="DECIMAL" property="itemLongitude" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="maintainer_id" jdbcType="BIGINT" property="maintainerId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="location" jdbcType="VARCHAR" property="location" />
  </resultMap>
  <sql id="Base_Column_List">
    ${alias}.id,${alias}.version,${alias}.creator,${alias}.creator_id,${alias}.created_time,${alias}.last_operator,${alias}.last_operator_id,
    ${alias}.update_time,${alias}.inspection_task_id, ${alias}.actual_start_time,${alias}.scheduled_start_time,${alias}.actual_finish_time,
    ${alias}.days,${alias}.frequency,${alias}.description,${alias}.status,${alias}.item_latitude,${alias}.item_longitude,${alias}.result,
    ${alias}.item_name,${alias}.maintainer_id,${alias}.count,${alias}.location
  </sql>
  <select id="queryItemByUserId" parameterType="java.lang.Long" resultType="com.ananops.provider.model.domain.ImcInspectionItem">
    SELECT
    <include refid="Base_Column_List">
      <property name="alias" value="item"></property>
    </include>
    FROM
    an_imc_inspection_item as item , an_imc_user_item as userItem
    WHERE 1=1 AND userItem.user_id = #{userId} AND item.id = userItem.item_id
    ORDER BY update_time DESC
  </select>

  <select id="queryItemByUserIdAndStatus" resultType="com.ananops.provider.model.domain.ImcInspectionItem">
    SELECT
    <include refid="Base_Column_List">
      <property name="alias" value="item"></property>
    </include>
    FROM
    an_imc_inspection_item as item , an_imc_user_item as userItem
    WHERE 1=1 AND userItem.user_id = #{userId} AND item.id = userItem.item_id AND item.status = #{status}
    ORDER BY update_time DESC
  </select>

  <select id="queryFinishedItemByMaintainerId" parameterType="java.lang.Long" resultType="com.ananops.provider.model.domain.ImcInspectionItem">
    SELECT
    <include refid="Base_Column_List">
      <property name="alias" value="item"></property>
    </include>
    FROM
    an_imc_inspection_item as item
    WHERE 1=1 AND item.maintainer_id = #{maintainerId}
    AND item.status &gt;= 4
    ORDER BY update_time DESC
  </select>
</mapper>