<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ananops.provider.mapper.ImcInspectionTaskMapper" >
  <resultMap id="BaseResultMap" type="com.ananops.provider.model.domain.ImcInspectionTask" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_operator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="last_operator_id" jdbcType="BIGINT" property="lastOperatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="principal_id" jdbcType="BIGINT" property="principalId" />
    <result column="facilitator_id" jdbcType="BIGINT" property="facilitatorId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="total_cost" jdbcType="DECIMAL" property="totalCost" />
    <result column="maintenance_cost" jdbcType="DECIMAL" property="maintenanceCost" />
    <result column="scheduled_start_time" jdbcType="TIMESTAMP" property="scheduledStartTime" />
    <result column="actual_finish_time" jdbcType="TIMESTAMP" property="actualFinishTime" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="inspection_type" jdbcType="INTEGER" property="inspectionType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="frequency" jdbcType="INTEGER" property="frequency" />
  </resultMap>
</mapper>