<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ananops.provider.mapper.PmcContractUserMapper" >
  <resultMap id="BaseResultMap" type="com.ananops.provider.model.domain.PmcContractUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="contract_id" property="contractId" jdbcType="BIGINT" />
    <id column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
</mapper>