<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ananops.provider.mapper.PmcInspectDetailMapper">
  <resultMap id="BaseResultMap" type="com.ananops.provider.model.domain.PmcInspectDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="inspect_task_id" jdbcType="BIGINT" property="inspectTaskId" />
    <result column="inspect_website" jdbcType="VARCHAR" property="inspectWebsite" />
    <result column="inspect_person" jdbcType="VARCHAR" property="inspectPerson" />
    <result column="inspect_device" jdbcType="VARCHAR" property="inspectDevice" />
    <result column="inspect_condition" jdbcType="VARCHAR" property="inspectCondition" />
    <result column="deal_result" jdbcType="VARCHAR" property="dealResult" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_operator" jdbcType="VARCHAR" property="lastOperator" />
    <result column="last_operator_id" jdbcType="BIGINT" property="lastOperatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="backup" jdbcType="VARCHAR" property="backup" />
  </resultMap>

</mapper>