<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ananops.provider.mapper.PmcProjectMapper" >
  <resultMap id="BaseResultMap" type="com.ananops.provider.model.domain.PmcProject" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="contract_id" property="contractId" jdbcType="BIGINT" />
    <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="VARCHAR" />
    <result column="is_contract" property="isContract" jdbcType="INTEGER" />
    <result column="party_a_id" property="partyAId" jdbcType="BIGINT" />
    <result column="party_a_name" property="partyAName" jdbcType="VARCHAR" />
    <result column="party_b_id" property="partyBId" jdbcType="BIGINT" />
    <result column="party_b_name" property="partyBName" jdbcType="VARCHAR" />
    <result column="a_leader_id" property="aLeaderId" jdbcType="BIGINT" />
    <result column="a_leader_name" property="aLeaderName" jdbcType="VARCHAR" />
    <result column="a_leader_tel" property="aLeaderTel" jdbcType="VARCHAR" />
    <result column="a_one_name" property="aOneName" jdbcType="VARCHAR" />
    <result column="party_a_one" property="partyAOne" jdbcType="VARCHAR" />
    <result column="a_two_name" property="aTwoName" jdbcType="VARCHAR" />
    <result column="party_a_two" property="partyATwo" jdbcType="VARCHAR" />
    <result column="a_three_name" property="aThreeName" jdbcType="VARCHAR" />
    <result column="party_a_three" property="partyAThree" jdbcType="VARCHAR" />
    <result column="b_leader_id" property="bLeaderId" jdbcType="BIGINT" />
    <result column="b_leader_name" property="bLeaderName" jdbcType="VARCHAR" />
    <result column="b_leader_tel" property="bLeaderTel" jdbcType="VARCHAR" />
    <result column="party_b_tel" property="partyBTel" jdbcType="VARCHAR" />
    <result column="party_b_phone" property="partyBPhone" jdbcType="VARCHAR" />
    <result column="party_b_email" property="partyBEmail" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="is_destroy" property="isDestroy" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <select id="getProjectByUserId" resultMap="BaseResultMap">
    select * from
    an_pmc_project p,an_pmc_project_user u
    where
    1=1
    and p.id = u.project_id
    and u.user_id =  #{userId,jdbcType=BIGINT}
  </select>

  <select id="getProjectByContractId" resultMap="BaseResultMap">
    select * from an_pmc_project where 1=1
    and contract_id = #{contractId,jdbcType=BIGINT}
  </select>

</mapper>

