<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ananops.provider.mapper.UacDepartmentUserMapper">
    <resultMap id="BaseResultMap" type="com.ananops.provider.model.domain.UacDepartmentUser">
        <result column="department_id" jdbcType="BIGINT" property="departmentId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
    </resultMap>

    <sql id="Base_Column_List">
        du.department_id,
        du.user_id
    </sql>

    <update id="updateByUserId" parameterType="uacDepartmentUser">
        update
            an_uac_department_user
        set
            department_id=#{departmentId}
        where
            user_id=#{userId}
    </update>
    <delete id="deleteExcludeSuperMng" parameterType="map">
        DELETE
        FROM
            an_uac_department_user
        WHERE
            user_id IN (
                SELECT
                    temp.user_id
                FROM
                    (
                        SELECT
                            du.user_id
                        FROM
                            `an_uac_department_user` du
                            LEFT JOIN an_uac_user u ON du.user_id = u.id
                        WHERE
                            du.department_id = #{departmentId}
                            AND du.user_id NOT IN (
                                SELECT
                                    ru.user_id
                                FROM
                                    `an_uac_role_user` ru
                                    LEFT JOIN an_uac_user u ON ru.user_id = u.id
                                WHERE
                                    ru.user_id = #{superManagerUserId}
                            )
                    ) temp
            )
    </delete>
    <select id="getByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM an_uac_department_user du
        WHERE du.user_id = #{userId, jdbcType=BIGINT}
    </select>
    <select id="selectDepartmentListByUserId" resultType="uacDepartment">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            an_uac_department d, an_uac_user u , an_uac_department_user du
        where
            1=1
            and d.id = du.department_id
            and u.id = du.user_id
            and u.id = #{userId,jdbcType=BIGINT}
    </select>
    <select id="listByDepartmentId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM an_uac_department_user du
        WHERE du.department_id = #{departmentId, jdbcType=BIGINT}
    </select>
</mapper>